---
import type { NavigationLink } from "@/types";
import { getLocaleUrlCTM } from "@/lib/utils/i18nUtils";
import ServicesDropdown from "./ServicesDropdown.astro";

const menu = Astro.props.menu as NavigationLink;
const { pathname } = Astro.url;
---

{
  menu.children ? (
    <li class="nav-item hs-dropdown group/dropdown relative inline-flex [--placement:bottom-left] [--trigger:hover]">
      <a
        class:list={[
          "hs-dropdown-toggle nav-link inline-flex items-center gap-1",
          {
            "nav-link-active":
              pathname === `${menu.url}/` || pathname === menu.url,
          },
        ]}
        href={
          menu.url && menu.url !== "#"
            ? getLocaleUrlCTM(menu.url, Astro.currentLocale)
            : "#"
        }>
        {menu.name}
        <svg
          class="hs-dropdown-open:rotate-180 size-4 shrink-0 transition duration-300"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path d="m6 9 6 6 6-6" />
        </svg>
      </a>
      <ServicesDropdown items={menu.children} />
    </li>
  ) : (
    <li class="nav-item">
      <a
        class:list={[
          "nav-link inline-flex items-center gap-1",
          {
            "nav-link-active":
              pathname === `${menu.url}/` || pathname === menu.url,
          },
        ]}
        href={
          menu.url && menu.url !== "#"
            ? getLocaleUrlCTM(menu.url, Astro.currentLocale)
            : "#"
        }>
        {menu.name}
      </a>
    </li>
  )
}
